// Define variables for your color scheme
$light-gray: #EDEDED;
$dark-blue: #0064AD;
$blue: #4D4AAE;

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD87;
$gray: #0E0000;
