<div class="section-title">
  <h1>About Me</h1>
</div>
<div class="all-bio">
  <div class="partOne">
    <p>I have always been the creative kind of person, I graduated from Com'Art in 2015, a school of 3D Animated Films, after attending Strate College, school of Industrial Design where I have learned to create logos and innovative concepts around mobility, retail, packaging and more..</p>
  </div>
    <div class="partTwo">
    <p>Then I had the chance to work for Black Sheep Studio on the game @Spike Volleyball as a UI Designer. I worked on creating mock ups and animating menus, customisation of sportswear and team logos.</p>
  </div>
  <div class="partThree">
    <p>I have just finished attending @Le Wagon, Paris Batch #250 where I have learned to code in HTML/CSS, JavaScript and Ruby on Rails. I am now looking for new opportunities around Web Design and Web Development.</p>
  </div>
</div>
