<nav class="navbar">
  <ul class="navbar-list" id="navbar-list">

    <li class="nav-item active">
      <a class="nav-link" href="#home">
        <p class="nav-text">Home</p>
        <i class="fas fa-home navbar-icons"></i>
      </a>
    </li>
    <div class="navbar-join"></div>

    <li class="nav-item">
      <a class="nav-link" href="#about-me">
        <p class="nav-text">Bio</p>
        <i class="fas fa-user-ninja navbar-icons"></i>
      </a>
    </li>
    <div class="navbar-join"></div>

    <li class="nav-item">
      <a class="nav-link" href="#skills">
        <p class="nav-text">Skills</p>
        <i class="fas fa-cogs navbar-icons"></i>
      </a>
    </li>
    <div class="navbar-join"></div>

    <li class="nav-item">
      <a class="nav-link" href="#projects">
        <p class="nav-text">Experience</p>
        <i class="fas fa-briefcase navbar-icons"></i>
      </a>
    </li>
    <div class="navbar-join"></div>

    <li class="nav-item">
      <a class="nav-link" href="#education">
        <p class="nav-text">Education</p>
        <i class="fas fa-university navbar-icons"></i>
      </a>
    </li>

    <div class="navbar-join"></div>

    <li class="nav-item">
      <a class="nav-link" href="#interests">
        <p class="nav-text">Interests</p>
        <i class="fas fa-quidditch navbar-icons"></i>
      </a>
    </li>

    <div class="navbar-join"></div>

    <li class="nav-item">
      <a class="nav-link" href="#contact">
        <p class="nav-text">Contact</p>
        <i class="fas fa-address-book navbar-icons"></i>
      </a>
    </li>
  </ul>
</nav>
