.bio-background {
  background-image: url(asset_path("bg-bio.png"));
  background-size: cover;
  background-position: 50% 20%;
  background-attachment: fixed;
}

.bio {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 80vh;
  overflow: auto;
}
.all-bio {
  width: 65%;
  padding-top: 10%;
  text-align: right;
  color: white;
  margin: auto 0;
  padding-right: 15%;
  font-size: 18px;
  padding-left: 2%;
}
