.navbar {
  z-index: 300;
  position: fixed !important;
  right: 0;
  height: 100vh;
  .navbar-list {
    width: 40px;
    padding-left: 0;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .nav-item{
      // box-shadow: 0 2px 16px rgba(0, 0, 0, .3);
      transition: all .4s ease;
      list-style: none;
      border: 2px solid white;
      border-radius: 55px;
      padding: 5px 6px;
      height: 40px;
      width: 100%;
      overflow: hidden;
      .nav-link {
        transition: all .4s ease;
        display: flex;
        align-items: center;
        padding: 0;
        justify-content: flex-end;
        .navbar-icons {
          transition: all .4s ease;
          color: white;
          font-size: 22px;
        }
        .nav-text {
          font-weight: bolder;
          transition: all .4s ease;
          opacity: 0;
          font-size: 17px;
          padding-right: 12px;
          color: white;
          margin: 0;
        }
      }
    }
    .navbar-join {
      // box-shadow: 0 2px 16px rgba(0, 0, 0, .3);
      height: 24px;
      width: 4px;
      background-color: white;
      margin: 0 auto;
    }
  }
}

.nav-item:hover {
  padding: 7px !important;
  width: 154px !important;
  height: 52px !important;
  .navbar-icons {
    font-size: 32px !important;
  }
  .nav-text {
    opacity: 1 !important;
  }
}

.active {
  padding: 7px !important;
  width: 52px !important;
  height: 52px !important;
  background-color: white;
  .navbar-icons {
    color: $dark-blue !important;
    font-size: 32px !important;
  }
  .nav-text {
    color: $dark-blue !important;
    opacity: 0 !important;
  }
}

